# work output
logs/
AutoEncoder/Models/saved*
output/AE_*
message.txt
namelist
operate_*/
output/threshold/min_noPass
QC_*


# data file
/data*
operate/model
*.h5
*.npy
*.npz
*.jpg
*.png
*.csv

# auto generated
Pipfile.lock
.ipynb_checkpoints
__pycache__
