# work output
logs/
saved_weight/
output/AE_*
message.txt
namelist
operate/model

# data file
/data
operate/model
*.h5
*.npy
*.npz
*.jpg
*.png

# auto generated
Pipfile.lock
.ipynb_checkpoints
__pycache__
