[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.13.0"
tensorflow-addons = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
tqdm = "*"
openpyxl = "*"

[dev-packages]
pyyaml = "*"

[requires]
python_version = "3.10"
