[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-addons = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"

[dev-packages]
pyyaml = "*"
spyder = "*"
scikit-learn = "*"

[requires]
python_version = "3.10"
