[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-addons = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
tqdm = "*"
openpyxl = "*"
xlrd = "*"
tensorflow = "==2.13.0"

[dev-packages]
pyyaml = "*"
spyder = "*"

[requires]
python_version = "3.10"
